# Specific ignored files and directories
/env
/.env
/.idea
/htmlcov
/.vagrant
/misirlou/local_settings.py
/misirlou/migrations
/solr/*/data
celerybeat*

# General cruft
*__pycache__*
*.db
.DS_STORE
.coverage
*.swp

# IntelliJ stuff
misirlou.iml
