amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
coverage==4.0.3
decorator==4.0.2
Django==1.9.6
django-extensions==1.6.6
djangorestframework==3.3.3
ipython==4.0.0
ipython-genutils==0.1.0
kombu==3.0.35
path.py==8.1
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
pytz==2016.4
redis==2.10.5
requests==2.7.0
scorched==0.8
simplegeneric==0.8.1
six==1.10.0
tqdm==4.7.4
traitlets==4.0.0
ujson==1.35
voluptuous==0.8.8
Werkzeug==0.10.4
