footer {
    text-align: center;
    background-color: #f1f1f1;
    border-top: solid 1px #bbb;
}

.footer--left {
    float: left;
}

.footer--center {
    display: inline-block;
}

.footer--right {
    float: right;
}
