#content-root {
    min-width: 811px;
}

.home-title {
    margin-top: 90px;
}

.propagate-height.landing--container {
    overflow: auto;
}

.search-results--container {
    width: 38%;
    overflow: auto;
    padding-top: 20px;
    border-right: solid 1px lightgrey;

    &.result-list--enter {
        position: relative;
        transition: width 400ms ease-in-out, opacity 400ms ease-in-out;

        width: 0;
        opacity: 0;
        &.result-list--enter-active {
            width: 38%;
            opacity: 1;
        }
    }

    &.result-list--leave {
        position: relative;
        transition: width 300ms ease-in-out, opacity 300ms ease-in-out;

        width: 38%;
        opacity: 1;
        &.result-list--leave-active {
            width: 0;
            opacity: 0;
        }
    }
}

.search-results {
    padding-left: 80px;
    margin-right: 15px;
}

// Display to click on a manifest to view it in the section on the right
.manifest-detail__click-helper {
    margin: auto;
}

.diva-viewer__image {
    margin-bottom: 10px;
}

.diva-toolbar--wrapper {
    margin-top: 10px;
}

.logo {
    width: 100%;
}
