@import '../../base-styles/variables';

header {
    height: 95px;
    margin-bottom: 0;
    background-color: #f8f8f8;
    border-bottom: solid 1px #e7e7e7;

    .header__logo, .header__form, .header__form--container {
        height: inherit;
    }

    .header__form--container, .header__logo {
        display: inline-block;
    }

    img {
        margin: 15px;
    }

    .header__form--container {
        padding-left: 5px;
    }

    .header__form {
        margin-top: 8px;
    }

    .aboutPageLogo {
        margin-top: 23px;
    }

    .search-input__input {
        display: inline-block;
        margin-top: 18px;
        height: 42px; // The one and only answer
        width: 400px; // Default: If there are more than one input fields

        @media screen and (max-width: $screen-lg) {
            width: 340px;
        }
        @media screen and (max-width: $screen-md) {
            width: 260px;
        }

        &:first-of-type {
            transition: width 300ms;
        }

        &.search-input__input--singular {
            width: 600px;

            @media screen and (max-width: $screen-lg) {
                width: 520px;
            }
            @media screen and (max-width: $screen-md) {
                width: 440px;
            }
        }
    }

    .search-input__stat-display {
        font-size: 12px;
        text-align: left;
    }

    .search-input__pitch-btn {
        text-decoration: underline;
        font-size: 12px;
        margin-top: 3px;
        color: $brand-primary;
        cursor: pointer;
        transition: opacity 300ms ease-out;

        &.pitchBtn-anim-enter {
            opacity: 0.01;

            &.input-anim-enter-active {
                opacity: 1;
            }
        }

        &.pitchBtn-anim-leave {
            display: none;
        }
    }
}

/* INPUT FIELDS ANIMATION */
.input-anim-enter {
    opacity: 0.01;

    &.input-anim-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-in-out;
    }
}

.input-anim-leave {
    opacity: 1;

    &.input-anim-leave-active {
        opacity: 0.01;
        transition: opacity 200ms ease-in-out;
    }
}

#suggestions-dropdown {
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    background: #fff;

    width: 400px;

    @media screen and (max-width: $screen-lg) {
        width: 340px;
    }
    @media screen and (max-width: $screen-md) {
        width: 260px;
    }

    div {
        padding: .5rem;
        &:hover {
            background: #eee;
        }
    }
    a {
        color: #333;
        background: #fff;
        &.active {
            div {
                background: #eee;
            }
        }
    }
}
