.iiif-metadata__logo {
    max-width: 200px;
}

.iiif-metadata__title:first-child {
    margin-top: 0;
}

/* Match Bootstrap paragraph margin */
.iiif-metadata__description {
    margin-bottom: 20px;
}
