{% load staticfiles %}{% load to_json %}<!DOCTYPE html>
<html>
<head>
    {# TODO: Specialize title #}
    <title>Musiclibs</title>

    {% if not DEBUG_CLIENT_SIDE %}
    <link rel="stylesheet" href="{% static 'js/bundle/main.css' %}">
    {% endif %}

    <!-- Favicons are cached by browsers. Whenever we want to change the favicon,
         we need to change the url in order to force browsers to update it. This is
         done using a random query parameter.
    -->
    <link rel="shortcut icon" href="{% static 'musiclibs-logo-sm.png' %}?v=1" />

    <meta name="viewport" content="width=device-width">
</head>
<body>
    <noscript>
        <div class="container">
            <div class="alert alert-danger">
                This site requires <a href="http://www.enable-javascript.com/" target="_blank">JavaScript</a> to function.
            </div>
        </div>
    </noscript>

    <div id="content-root"></div>

    <script id="initial-data" type="application/json">{{ view_data | to_json }}</script>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2371659-11', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="{% static 'js/bundle/main.js' %}"></script>
</body>
</html>
